
      <!-- Search box -->
        <div class="row">
           <div class="input-field label col s10 m10">
            {{!-- <i class="large material-icons prefix"></i> --}}
            <input id="user_search" id="icon_prefix" type="search" class="search">
            <label for="icon_prefix">Search</label>
          </div>

          <div class="input-field label col s2 m2">
              <a id="submit" class="grey darken-1 waves-effect waves-light btn-large">Submit</a>
            </div>
        </div>
       
              
        <div class="row center">
            <div class="col s4 m4">
              <p>
                <label>
                  <input id="album" name="group1" type="radio" />
                  <span class="dark-text text-darken-2">Album</span>
                </label>
              </p>
            </div>
            <div class="col s4 m4">
                <p>
                  <label>
                    <input id="artist" name="group1" type="radio" />
                    <span class="dark-text text-darken-2">Artist</span>
                  </label>
                </p>
              </div>
            <div class="col s4 m4">
                <p>
                  <label>
                    <input id="song" name="group1" type="radio" />
                    <span class="dark-text text-darken-2">Song</span>
                  </label>
                </p>
            </div>
        </div>

        <section id="display">
          <ul>
            {{#each this}}
            <li>{{this.song_title}}</li>
            {{/each}}
          </ul>
        </section>
<script src="./js/index.js"></script>