.list-group-item {
  line-height: 2.5;
}

/* ============================================================================================== */

/* Custom Stylesheet */


nav ul a,
nav .brand-logo {
  color: #444;
}

#log_in {
  color: rgb(121, 28, 28) !important; 
}

.header {
  font-family: 'Raleway', sans-serif !important;
  font-size: 65px !important;
  transition: 0.2s !important;
  -webkit-transition: 0.2s !important;
}

.header:hover {
  font-size: 69px !important;
  color: rgb(155, 155, 155) !important;
}

.header:active {
  font-size: 65px !important;
}

.search {
  padding: 2px !important;
  color: rgb(146, 146, 146) !important;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#github-link {
  font-size: 17px !important;
  margin: 0% auto !important;
  transition: 0.2s !important;
  -webkit-transition: 0.2s !important;
}

#github-link:hover {
  font-size: 20px !important;
  color: rgb(145, 145, 145) !important;
}

#github-link:active {
  font-size: 17px !important;
}

#albumize-link {
  font-size: 20px !important;
  margin: 0% auto !important;
  transition: 0.2s !important;
  -webkit-transition: 0.2s !important;
}

#albumize-link:hover {
  font-size: 23px !important;
  color: rgb(145, 145, 145) !important;
}

#albumize-link:active {
  font-size: 20px !important;
}
